* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  padding: 1%;
  background-image: url('./images/website.jpg');
  background-size: 90vw;
  background-position: center;
  min-width: 50vw;
  min-height: 60vw;
}

.row.content {
  height: 550px;
}

.sidenav {
  background-color: black;
  height: 85%;
  margin: 40px;
  float: right;

}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    float: none;
  }
  .row.content {height: auto;}
}

.active {
  color: green;
}

footer {
  background-image: url("./images/footerguinda.jpg");
  background-size: cover;
  color: black;
  text-align: right;
  font-size: 24px;
  padding: 18px;
}

li{
  font-size: 20px;
}

.jumbotron {
  background-image: url('./images/black.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 175px;
  height: 38vw;
  width: 100%;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 175px;
    padding-bottom: 175px;
  }
}

 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     width: 70%;
     margin: 1em;
 }

h1 {
   font-size: 42px;
   color: black;
 }

h4, h3, h2 {
  color: black;
  background-color: grey;
}

.text {
  color: white;
  text-shadow: black 2px;
}

.col-sm-8 {

}
